@import url(http://fonts.googleapis.com/css?family=Kavoon);

/*
 * Eric Meyer CSS reset
 * Public domain
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

/*
 * Homepage CSS
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-color: #fd6c2c;
}

.content {
	width: 100%;
	padding: 1em 0;
	display: block;
}

header {
	text-align: center;
	font-size: 88px;
	font-family: Kavoon, Impact, sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 5px #000;
}

.fudo-image {
	display: block;
	margin: 2em auto;
}


.btn-container {
	margin-top: 4em;
	text-align: center;
}

/*
 * button made with help from CSS3 Button Generator
 * http://css3button.net/
 */
.btn {
	font-family: Kavoon, Impact, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#ebebeb));
	border-radius: 15px;
	/* border: 1px solid #000000; */
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(255,0,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(255,0,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(255,0,255,0.7);
	text-shadow:
		0px 1px 0px rgba(255,255,255,0.3);
}

.modal {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0,0,0,.5);
}

.modal .container {
	display: block;
	width: 80%;
	margin: 1em auto;
	padding: 5em;
	vertical-align: middle;
	background: #fff;
	text-align: center;
	border-radius: 15px;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(255,0,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(255,0,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(255,0,255,0.7);
	text-shadow:
		0px 1px 0px rgba(255,255,255,0.3);
}

.modal h1 {
	font-family: Kavoon, Impact, sans-serif;
	font-size: 32px;
}

.modal #name {
	font-size: 32px;
	font-family: sans-serif;
}

.modal input {
	display: block;
	margin: 1em auto;
}
